<% layout("/layouts/boilerplate") %>


	<div class="row">
		<div class="col-8 offset-3">
			<h3>
				<%= listing.title %>
			</h3>
		</div>
		<div class="card col-6 offset-3 show-card">
			<img src="<%= listing.image %>" class="card-img-top show-img" alt="listing_image">
			<br />
			<div class="card body">
				<% if (listing.owner) { %>
					<p class="card-text">Owned by <i><%= listing.owner.username %></i></p>
				<% } else { %>
					<p class="card-text">Owner information not available</p>
				<% } %>
				<br />
				<p class="card-text"><%= listing.description %></p>
				<p class="card-text"><%= listing.price %></p>
				<p class="card-text"><%= listing.location %></p>
				<p class="card-text"><%= listing.country %></p><br>
			</div>
				<div class="btns">
					<a href="/listings/<%= listing._id %>/edit" class="btn btn-dark offset-0 edit-btn">Edit</a>
					<br />
					<form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
						<button class="btn btn-dark offset-4">Delete</button>
					</form>
				</div>
		</div>
	</div>